<style>
    .hero__{{ block.id }} {
        --hero-background-image: url({{ fields.background_image.sizes.large }});
    }
</style>
<section class="hero hero__{{ fields.theme }} hero__{{ block.id }}">
    <div class="container">
        <div class="hero__content content-inner">
            {% if fields.title %}
                <h1 class="hero__heading"
                    data-aos="{{ fields.title_animation }}">
                    {{ fields.title }}
                </h1>
            {% endif %}
            {% if fields.subtitle %}
                <div class="hero_description"
                     data-aos="{{ fields.subtitle_animation }}">
                    {{ fields.subtitle }}
                </div>
            {% endif %}
            <div class="_calls_to_action">
                {% if fields.calls_to_action %}
                    {% for item in fields.calls_to_action %}
                        <a href="{{ item.link.url }}"
                           data-aos="{{ item.entrance_animation }}"
                           style="--button-border-color:{{ item.border_color }};
                                   --button-text-color: {{ item.border_color }};"
                           class="{{ item.type }} hero__link"
                           title="{{ item.link.title }}"
                           target="{{ item.link.target }}">
                            {{ item.link.title }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
