{% if is_preview %}
    <img src="{{ theme.link }}/assets/images/preview/hero.png" width="100%" alt="Hero preview" />
{% else %}
    <style>
        .hero--{{ block.id }} {
            background-image: url({{ fields.background_image.sizes.large }});
        }}
    </style>
    <section class="hero hero--{{ fields.theme }} hero--{{ block.id }}" {{ fields.section_id | print_id }}>
        <div class="container">
            <div class="hero__content content-inner">
                {% if fields.heading %}
                    <h1 class="hero__heading">{{ fields.heading }}</h1>
                {% endif %}
                {% if fields.description %}
                    <div class="hero__description">{{ fields.description }}</div>
                {% endif %}
                <div class="hero__calls_to_action">
                    {% if fields.calls_to_action %}
                        {% for item in fields.calls_to_action %}
                            <a href="{{ item.link.url }}"
                               style="border-color:{{ item.border_color }};"
                               class="btn hero__link"
                               title="{{ item.link.title }}"
                               target="{{ item.link.target }}">
                                {{ item.link.title }}
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
